* {
    font-family: monospace;
    background-color:rgb(70, 101, 148);
    color:rgb(147, 225, 247);
}

body {
    display: flex;
    flex-direction: column;
    font-size: 16px;
    line-height: 1.5;
}

.main-header {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items:baseline;
    font-size: 16px;
}

nav ul li {
    display: flex;
    flex-direction:row
}

.fancy {
    display:flex;
    flex-direction:column;
    justify-content:center;
    text-align: center;
    padding: 2em;
    margin: 1em;
    border: .2em solid rgb(14, 43, 86);
    width: 4em;
    height: 0em;
    border-radius: 25px;
    font-size: 10px;
    list-style-type:none;
}

.fancy:hover {
    border: .3em solid rgb(14, 43, 86);
    box-shadow: 4px 4px 5px rgb(13, 48, 100);
}

.about-me{
    display: flex;
    justify-content:space-around;
}

.about-me img {
    object-fit: block;
    width: 200px;
    height: 200px;
}

.work1 img {
    height: 200px;
    width: auto;
}

.work img{
    height: 200px;
    width: auto;
}

