* {
    font-family: monospace;
    background-color:rgb(70, 101, 148);
    color:rgb(147, 225, 247);
}

body {
    display: flex;
    flex-direction: column;
    font-size: 16px;
    line-height: 1.5;
}

.main-header {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items:baseline;
    font-size: 16px;
    margin-right: 50px;
    margin-left: 50px;
}

.main-header ul {
    display: flex;
}

.fancy {
    display:flex;
    flex-direction:column;
    justify-content:center;
    text-align: center;
    padding: 2em;
    margin: 1em;
    border: .2em solid rgb(147, 225, 247);
    width: 4em;
    height: 0em;
    border-radius: 25px;
    font-size: 10px;
    list-style-type:none;
}

.fancy:hover {
    border: .3em solid rgb(65, 191, 226);
    box-shadow: 4px 4px 5px rgb(26, 133, 163);
}

.banner img {
    width: 100%;
    height: 150px;
}

.banner {
    background-image: url("../images/underwater.jpg");
    width: 100%;
    height: 150px;
    background-size:cover;
}

.information {
    margin-left: 200px;
    margin-right: 50px;
}

.about-me{
    display: flex;
    flex-direction:column;
    flex-wrap: wrap;
}

.about-me img {
    object-fit: block;
    width: 150px;
    height: auto;
}

.about-me p {
    align-self: center;
}

.work {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-end;
    margin-left: 25px;
}

.work h2 {
    margin-right: 20px
}

.work img{
    background-color: rgb(147, 225, 247);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, .2), 0 6px 20px 0 rgba(0, 0, 0, .19);
    margin-bottom: 25px;
}

.work header {
    text-align: center;
    padding: 10px 20px;
}

.work-big img {
    display: block;
    flex-grow: 2;
    height: 400px;
    width: 800px;
    border:.25em solid rgb(147, 225, 247);
}

.work-small, .work-big {
    position: relative;
    text-align: center;
}

.work-small header, .work-big header {
    position: absolute;
    bottom: 45px;
    left: 0px;
    background-color: rgb(147, 225, 247);
    color: rgb(70, 101, 148);
}

.work-small img{
    display: inline;
    flex: 1 0 200px;
    height: 250px;
    width: 400px;
    border: .25em solid rgb(147, 225, 247);
}

.contact ul li {
    list-style-type: none;
    display:inline-block;
    margin-right: 140px;
}

footer {
    text-align: center;
}

